<h2>Signup</h2>
<form>
  <div class="row">
    <div class="col-md-6">
      <label>User Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName" name="userName" />
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" />
    </div>
    <div class="col-md-6"></div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" (click)="signup()">
        Signup
      </button>
      <button class="btn btn-primary" routerLink="/login">
        Cancel
      </button>
      <br/>
      <br/>
      <input type="radio" name="colors" value="manager" id="myRole">Manager
      <div>
        <!-- Display List of Taverns -->

      </div>
      <input type="radio" name="colors" value="admin" id="myRole">Admin
      <div *ngif="" >
        <!-- Show input field for entering Tavern Name -->
      </div>
      <br />
      <div *ngif="">
        <label></label>
      </div>


    </div>
  </div>
</form>